@font-face {
    font-family: 'Georgia';
    src: url('./fonts/georgia.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('./fonts/georgiab.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
